body {
    background-color: #1F2039;
    font-family: 'Manrope', sans-serif;
    font-size: 1em;
}

h1 {
    color: #A5B4FC;
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5em;
}

h2 {
    color: #F9F8FF;
}

p, li {
    color: #F9F8FF;
    font-size: 1.1em;
}

a {
    color: #242424;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

em {
    color: #A5B4FC;
    font-style: normal;
}

.header, .footer {
    background-color: white;
}

.link-icon:hover {
    opacity: 0.5;
}

.cta {
    background: linear-gradient(#8E86B5, #ACAEED);
    color: white;
    border-radius: 50px;
}

.cta:hover {
    background: linear-gradient(#696484, #8788BA);
    text-decoration: none;
}

.about-content {
    border-right: 1px #8e86b5 solid;
    border-bottom: 1px #8e86b5 solid;
}